@import url(/assets/css/sucesso.css);

:root {
    --purple-200: #004116;
    --purple-500: #1db38d;
    --gradiente-800: linear-gradient(90deg, #0ee1b7,#45d971,#08a022);
 
    --gray-200: #ebebeb;
    --gray-400: #505861;
 
    --black-800: #171717;
 
    --white: #F9F9F9;

                                                                                       
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

html {
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
}

body {
    background-color: var(--gray-200);
    color: var(--black-800);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button, a {
    cursor: pointer;
}

.divider {
    border-top: 1px solid var(--purple-500);
}

.botao {
    text-align: center;
    padding: 12px 32px;
    background: none;
    border: 1px solid var(--purple-500);
    border-radius: 10px;
    font-weight: 700;
    color: var(--purple-500);
}

.botao:hover {
    background: var(--gradiente-800);
    color: var(--white);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -------------- Menu -------------- */

.title_header{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;

}

.header_logo {
    width: 40px;
}

.menu_container {
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--gradiente-800);
    filter: opacity(0.9);
}

.menu_container a {
    color: var(--white);
    font-weight: 700;
    margin-right: 20px;
    font-size: 18px;
}

.menu_container a:hover {
    color: var(--purple-200);
}

.menu_content {
    max-width: 1120px;
    padding: 0 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.menu_list {
    list-style: none;
    text-align: center;
}

.menu_list li {
    margin-left: 1rem;
} 

/* -------------- HOME -------------- */

.home_container {
    max-width: 1120px;
    margin: 16px auto;
    padding: 0 1rem;
    height: calc(100vh - 100px);
}

.home_container p, 
h1,
h4 {
    text-align: center;
    font-size: 1rem;
}

.home_container h1 {
    font-size: 2.25rem;
    line-height: 3rem;
    font-weight: 700;
}

.home_container h4 {
    font-weight: 700;
}

.home_container p {
    margin: 1rem 0;
}

.home_container .botao{
    width: 40%;
}

.home_content {
    width: 50vw;
    flex-direction: column;
}

.home_content img {
    display: flex;
    width: 75%;
}

/* -------------- SOBRE -------------- */

.about_container {
    max-width: 1120px;
    gap: 24px;
    margin: 16px auto;
    padding: 0 1rem;
    height: calc(100vh - 100px);
}

.about_content {
    flex-direction: column;
    text-align: center;
}

.about_content h1 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 3rem;
    padding-bottom: 1rem;
}

.about_content p {
    padding:1rem;
}

.about_image {
    width: 25%;
    border-radius: 100%;
    border: solid 3px var(--purple-500);
    transition: transform 0.3s ease-in-out;
}

.about_image:hover {
    transform: scale(1.1);
}

.github_infos {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

/* -------------- CONTATO -------------- */

.contato_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    max-width: 1120px;
    margin: 4rem auto 2rem;
    padding: 0;
}

.contato_container h4 {
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: 700;
}

.contato_content {
    flex-direction: column;
    margin: 4rem 0 0 0;
    font-size: 1.25rem;
}

.contato_content p {
    display: block;
    text-align: justify;
}

.social_container{
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0 0 0;
}

.social_icon{
    display: flex;
    justify-content: center;
    width: 4.75rem;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.social_icon:hover {
    filter: brightness(0) 
        saturate(100%) 
        invert(48%) 
        sepia(20%) 
        saturate(3200%) 
        hue-rotate(110deg) 
        brightness(90%) 
        contrast(105%);
    transform: scale(1.1);
}

form {
    display: flex;
    flex-direction: column;
    margin: 7rem 0 0 0;
    padding: 1.25rem;
    border: none;
}

form label {
    font-size: 1.25rem;
    text-align: left;
}

form input,
textarea {
    width: 100%;
    margin: 0.25rem 0 1rem;
    padding: 0.5rem;
    border-radius: 20px;
    border: solid 1px var(--purple-500);
    font-size: 1rem;
}

textarea {
    resize: none;
}

form span {
    margin-bottom: 0.25rem;
    margin-left: 0.75rem;
    font-size: 0.75rem;
    line-height: 1.25rem;
    color: red;
}




footer {
    display: flex;
    background: var(--gradiente-800);
    color: var(--white);
    font-weight: 700;
    height: 80px;
    width: 100%;
}


/* -------------- RESPONSIVIDADE -------------- */

@media (max-width: 480px) {
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    main {
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    footer {
        margin: auto;
    }

    .divider {
        border-top: none;
    }

    .menu_container {
        height: auto;
        padding: 1rem 0;

    }

    .menu_content {
        justify-content: center;
        max-width: 100%;
    }

    #titulo a {
        font-size: 1.75rem;
    }

    .menu_list{
        display: none;
    }

    .home_container {
        flex-direction: column-reverse;
        width: 100%;
        height: auto;
        margin-top: 2rem;
    }

    .home_content {
        width: 100%;
    }

    .home_content h1 {
        font-size: 1.75rem;
        line-height: 2.25rem;
    }

    .home_content .botao {
        width: 80%;
    }

    .home_content img {
        width: 80%;
    }

    #home_texto {
        margin-top: 0.5rem;
    }

    #home_imagem {
        margin-bottom: 0;
    }

    .about_container {
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-top: 3rem;
    }

    .about_container img {
        width: 70%;
    }

    .sobre_container h1{
        font-size: 1.75rem;
        line-height: 2.25rem;
    }

    .github_infos{
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;
    }

    .github_infos p {
        display: none;
    }

    .github_infos .botao {
        width: 80%;
    }

    .social_icon img {
        width: 3rem;
        height: auto;
    }

    .contato_container {
        grid-template-columns: 1fr;
        width: 100%;
        height: auto;
        margin-top: 2rem;
        padding: 0 1rem;
    }

    .contato_content{
        width: 100%;
    }

    .contato_content h4 {
        font-size: 1.75rem;
        line-height: 2.25rem;
    }

    .contato_content p {
        margin: 1rem;
        font-size: 1rem;
    }

    .social_container{
        justify-content: center;
        width: 100%;
    }

    .social_icon {
        width: 80%;
        height: auto;       
    }

    form {
        margin: 1rem 0 0 0;
        padding: 1rem;
    }

    footer {
        margin: 0;
        height: auto;
        width: 100%;
        padding: 1rem 0;
    }

}

@media (min-width: 480px) and (max-width: 955px) {
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .divider {
        border-top: none;
    }


    .menu_container {
        height: auto;
        padding: 1.5rem 0;
    }

    .home_container {
        flex-direction: column-reverse;
        width: 80%;
        height: auto;
        margin-top: 2rem;
    }

    .home_content {
        width: 100%;
    }

    .about_container {
        flex-direction: column;
        width: 80%;
        height: auto;
        margin-top: 3rem;
    }

    .about_container img {
        width: 50%;
    }

    .contato_container {
        grid-template-columns: 1fr;
        width: 80%;
        height: auto;
        margin-top: 2rem;
        padding: 0 1rem;
    }

    .social_icon img {
        width: 5rem;
        height: auto;
    }

    footer {
        margin: 0;
        height: auto;
        width: 100%;
        padding: 1.5rem 0;
    }
}