
.sucesso_container{
    display: flex;
    justify-content: center;
    max-width: 1120px;
    margin: 16px auto;
    padding: 0 1rem;
    height: calc(100vh - 100px);
}

.sucesso_content{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
}

.sucesso_content h1 {
    font-size: 2.25rem;
    line-height: 3rem;
    font-weight: 700;
}

.gradiente {
    background: var(--gradiente-800);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
    font-weight: 700;
}
                                        